html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
  text-align: center;
}

section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
