html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

main {
  
  /* color: grey; */
  text-align: center;
}

p {
  margin-left: 2rem;
  margin-right: 2rem;
}

a {
  font-family: 'Permanent Marker';
  text-decoration-thickness: 0.15em;
}

a {
  position: relative;
  color: black;
  text-decoration: none; /* remove default underline */
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;               /* adjust vertical position */
  width: 100%;
  height: 0.25em;            /* thickness of marker line */
  background: black;
  transform: rotate(-3deg) translateY(5px);
  border-radius: 2px;        /* soft edges */
  z-index: -1;
}



section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 5;
  border-bottom: 2px solid black; /* optional */
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: 'Permanent Marker';
  user-select: none;
}


.hero {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none; /* draw through text */
}


.hero h1 {
  font-size: 5rem;
}

.logo.in {
  height: 25px;
}




/* ---------------- Section Whiteboard ---------------- */
.whiteboard-section {
  position: relative;
}

.whiteboard-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


.whiteboard-section h1,
.whiteboard-section h2 {
  text-shadow:
    1px 1px 0 white,
   -1px 1px 0 white,
    1px -1px 0 white,
   -1px -1px 0 white;
   z-index: 1;
   pointer-events: none;
}


/* Styles for narrow screens */
@media (min-width: 768px) {
  .hero {
    margin-left: max(4rem, 25%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;     /* left alignment */
    text-align: left;
  }
}
