html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

main {
  margin-left: 2rem;
  margin-right: 2rem;
  color: grey;
  text-align: center;
}

section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  background-color: beige;
  padding: 1rem;
  box-sizing: border-box;
}

.nav-items div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-items a {
  flex: 1;
}