html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
  text-align: center;
}

section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}