body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  width: 80%
}