html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

main {
  margin-left: 2rem;
  margin-right: 2rem;
  /* color: grey; */
  text-align: center;
}

section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  padding: 2rem;
}

section.card {
  border: 2px solid black;
  background-color: beige;

}

nav {
  position: fixed;
  width: 100%;
  background-color: beige;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 5;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: 'Permanent Marker';
}

.hero h1 {
  font-size: 5rem;
}

.logo.in {
  height: 25px;
}